{% extends 'layout.html.twig' %}
{% import _self as formMacros %}

{% macro printTrickImageRow(image) %}
    <div class="col js-trick-image-item">                                        
        <img class="trick-thumbnail-small" src="{{ uploaded_trick(image.content.vars.value) }}" alt="photo de la figure">
        <a href="#" class="js-remove-image pull-right" title="Supprimer l'image"><span class="fa fa-close"></span></a>
        {{ form_row(image.content) }}                                        
    </div>
{% endmacro %}

{% macro printTrickVideoRow(video) %}
    <div class="col js-trick-video-item">  
        <a href="#" class="js-remove-video pull-right" title="Supprimer la vidéo"><span class="fa fa-close"></span></a>
        {{ form_row(video.address) }}                                        
    </div>
{% endmacro %}

{% block content %}

        <!-- Header -->
        {% if trick.featured %}
        <header class="masthead" style="background-image: url('{{ asset(uploaded_trick(trick.featured.content)) }}')">
        {% else %}
        <header class="masthead" style="background-image: url('{{ asset('build/images/bg/placeholder_trick.jpg') }}')"> 
        {% endif %}
            <div class="container">
                <div class="row">       
                    <div class="col overlay">                        
                        <div class="row">
                            <div class="col edit-pencil">
                                {% if trick.featured %}  
                                    <a href="{{ path('app_remove_featured', {trickId: trick.id}) }}" title="Retirer l'image à la Une" class="pull-right"><span class="fa fa-trash fa-3x" aria-hidden="true"></span></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col intro-text vertical-center smoothie">
                                <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">
                                    <h2>{{ trick.title }}</h2>
                                </div>                                 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div> 
        </header>

        <section>
            <div class="container">

                {% for message in app.flashes('success') %}
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-success alert-dismissible" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ message }}
                            </div>  
                        </div>
                    </div>
  
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>    
                {% endfor %}                
            
                <!-- show media button, only for mobiles -->
                <div class="row justify-content-center">
                    <button class="btn btn-primary mb30 d-block d-sm-none" type="button" data-toggle="collapse" data-target="#collapseCards" aria-expanded="false" aria-controls="collapseCards">Voir Médias</button>
                </div>
            
                <div class="row collapse dont-collapse-sm" id="collapseCards">
                    <div class="card-group col">            
                        {% if (images is not empty) or (videos is not empty) %}                
                            {% for image in images %}                                  
                                <div class="col-lg-4">                                       
                                    <div class="card blog-item mb100 wow match-height">                                          
                                        <img class="card-img-top trickcard-thumbnail-medium" src="{{ asset(uploaded_trick(image.content)) }}" alt="photo de la figure">                                           
                                        <div class="card-footer bg-transparent">
                                            <a title="Choisir comme Image à la Une" href="{{ path('app_edit_featured', {trickId: trick.id, imageId: image.id}) }}" class="pull-right"><span class="fa fa-star" aria-hidden="true"></span></a>                                            
                                        </div>
                                    </div>                                    
                                </div>
                            {% endfor %}
                            {% for video in videos %}                                    
                                <div class="col-lg-4">                                   
                                    <div class="card blog-item mb100 wow match-height">
                                        <iframe height="227" class="card-img-top" src="{{ video.address }}"></iframe>
                                    </div>    
                                </div>                           
                            {% endfor %}                                
                        {% endif %}
                    </div>
                </div>    
            </div>
        </section>

        <section>
            <div class="container section-inner">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        {% if (images is empty) and (videos is empty) %}
                            <div class="mt60 mb50 single-section-title">
                                <h3>Aucun media</h3>
                            </div>
                        {% endif %}                       
                    </div>                 
                </div>
            </div>            
        </section>

        <section>
            <div class="container section-inner">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        {{ form_start(trickForm, {
                            'attr': {'class': 'trick-form'}
                        }) }}
                            <h5>Titre</h5>
                            <hr>
                            {{ form_row(trickForm.title, {
                                label: 'Modifiez le titre :',
                                help: null,
                                'attr': {'class': 'form-control'}
                            }) }}
                            <h5>Description</h5>
                            <hr>
                            {{ form_row(trickForm.description, {
                                label: 'Modifiez la description :',
                                help: null,
                                'attr': {'class': 'form-control'}
                            }) }}
                            <h5>Catégorie</h5>
                            <hr>
                            {{ form_row(trickForm.category, {
                                label: 'Changez la catégorie :',
                                help: null,
                                'attr': {'class': 'form-control'}
                            }) }}

                            <div class="js-trick-image-wrapper">
                                <h5>Images</h5>
                                {% if images is not empty %}
                                <hr>                        
                                {% endif %}        
                                {% for image in trickForm.images %}
                                    {{ formMacros.printTrickImageRow(image) }}
                                {% endfor %}                                                                  
                                <hr>
                                {{ form_row(trickForm.imageFile, {
                                    help: null,
                                    'attr': {'class': 'form-control'}
                                }) }}                                                                  
                            </div>  
                            <hr>
                            <div class="js-trick-video-wrapper" data-prototype="{{ formMacros.printTrickVideoRow(trickForm.videos.vars.prototype)|e('html_attr') }}" data-index="{{ trickForm.videos|length }}">
                                <h5>Vidéos</h5>
                                {% if videos is not empty %}
                                <hr>                        
                                {% endif %}                                
                                {% for video in trickForm.videos %}                                     
                                    <div class="col">
                                        <iframe height="102" width="205" src="{{ video.address.vars.value }}"></iframe>
                                    </div> 
                                    {{ formMacros.printTrickVideoRow(video) }}                                    
                                {% endfor %}
                                <hr>
                                <a href="#" class="js-trick-video-add form-control form-control-video-mobile"><span class="fa fa-plus-circle"></span> Ajouter une vidéo (url youtube format embed, exemple : https://www.youtube.com/embed/ZlTmeL3XdM4)</a>   
                                <hr>                                                                                                                     
                            </div>
                            <!-- trigger modal -->                   
                            <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#DeleteTrickModal">Supprimer ce trick</a>
                            <!-- trigger modal -->
                            <button type="submit" class="btn btn-primary pull-right">Enregistrer les modifications</button>

                            {# prevents weird label from showing up in new #}
                            {% if trickForm.vars.value is not null %}
                                {% if trickForm.vars.value.images is empty %}
                                    {{ form_widget(trickForm.images) }}
                                {% endif %}
                                {% if trickForm.vars.value.videos is empty %}
                                    {{ form_widget(trickForm.videos) }}
                                {% endif %}
                            {% else %}
                                {{ form_widget(trickForm.images) }}
                                {{ form_widget(trickForm.videos) }}
                            {% endif %}
                            
                        {{ form_end(trickForm) }}

                        <!-- Modal for delete trick -->
                        <div class="modal fade" id="DeleteTrickModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLongTitle">Suppression du Trick</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Etes vous certain de vouloir supprimer ce trick ?<br>
                                        Celà entrainera la suppression de tout son contenu : photos, vidéos, commentaires etc...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('app_delete_trick', {slug: trick.slug}) }}" class="btn btn-primary">Confirmer la suppression</a>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </section>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trickForm') }}
{% endblock %}