{% extends 'layout.html.twig' %}

{% block content %}               
        <section>
            <div class="container login-section-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-4 mx-auto">            
                        <h2 class="section-heading" id="forgottitle">Mot de passe oublié</h2>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}                        
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}

                        {{ form_start(forgotForm, {
                            'attr': {'class': 'comment-form'}
                        }) }}
                            {{ form_row(forgotForm.username, {
                                label: 'Identifiant',
                                'attr': {'class': 'form-control'}
                            }) }}
                            
                            <div id="success"></div>
                            <div class="form-group form-inline justify-content-center">
                                <a href="{{ path('app_login') }}" class="btn btn-primary">Annuler</a>
                                <button type="submit" class="btn btn-primary" id="sendLoginButton">Réinitialiser le mot de passe</button>
                            </div>
                        {{ form_end(forgotForm) }}

                        <hr>

                        {#
                        <script>
                            // starter JavaScript for disabling form submissions if there are invalid fields, from bootstrap4 doc
                            (function() {
                            'use strict';
                            window.addEventListener('load', function() {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function(form) {
                                form.addEventListener('submit', function(event) {
                                    if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                                });
                            }, false);
                            })();
                        </script>
                        #}
                    </div>
                </div>    
            </div>
        </section>
{% endblock %}
