{% extends 'layout.html.twig' %}

{% block content %}

        <!-- Header -->
        <header id="headerwrap">
            <div class="container vertical-center">
                <div class="row">
                    <div class="col">         
                        <div class="intro-text vertical-center text-left smoothie col">
                            <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Snowtricks</div>
                            <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Le site communautaire qui regroupe tous les tricks <span class="rotate">du Snowboard</span></div>
                        </div>
                    </div>                  
                </div>
            </div>
            <a id="chevron" href="#tricks">
                <i class="fa fa-chevron-circle-down fa-5x" aria-hidden="true"></i>
            </a>  
        </header>

        <section>
            <div class="container section-inner">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>    
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>    
                {% endfor %}
                <div class="row" id="tricks">

                    {% for trick in tricks.results %}

                    <div class="card col-sm-4 blog-item mb100 wow match-height">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="hover-item mb30">
                                    {% if trick.content is null %}
                                        <img src="{{ asset('build/images/bg/gradient1.jpg') }}" class="img-responsive smoothie" alt="photo de la figure">
                                    {% else %}
                                        <img src="img/trick/{{ trick.content }}" class="img-responsive smoothie" alt="photo de la figure">                                        
                                    {% endif %}                                    
                                    
                                    <div class="overlay-item-caption smoothie"></div>
                                    <div class="hover-item-caption smoothie">
                                        <h3 class="vertical-center smoothie"><a href="/trick/{{ trick.id }}" class="smoothie btn btn-primary page-scroll" title="view article">Voir</a></h3>
                                    </div>
                                </div>
                                <h2 class="post-title">{{ trick.title }}</h2>
                            </div>
                        </div>
                    </div>

                    {% endfor %}                  
                    
                </div>
                
                <!-- <div class="row paging justify-content-center"><a class="btn btn-primary" id="load-more" href="{{ tricks.nextPage }}"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a></div> -->
                 <!-- Pagination -->
                {% if tricks.hasToPaginate %}
                <div class="row">
                    <div class="col-4 mx-auto navigation text-center">
                        <ul class="pagination row justify-content-center">
                            {% if tricks.hasPreviousPage %}
                                <li class="prev"><a class="btn btn-primary" href="{{ path('app_home_paginated', {page: tricks.previousPage}) }}#tricks" rel="previous"><i class="fa fw fa-arrow-left"></i> Précédent </a></li>
                            {% else %}
                                <li class="btn btn-primary prev"><span><i class="fa fw fa-arrow-left"></i> Précédent</span></li>
                            {% endif %}

                            {% if tricks.hasNextPage %}
                                <li class="next"><a class="btn btn-primary" href="{{ path('app_home_paginated', {page: tricks.nextPage}) }}#tricks" rel="next"> Suivant <i class="fa fw fa-arrow-right"></i></a></li>
                            {% else %}
                                <li class="btn btn-primary next"><span>Suivant <i class="fa fw fa-arrow-right"></i></span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <div class="row paging justify-content-center"><a class="btn btn-primary" href="{{ path('app_new_trick') }}">Ajouter un trick</a></div>

            </div>            
        </section>

{% endblock %}
