{% extends 'layout.html.twig' %}

{% block content %}               
        <section>
            <div class="container login-section-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-4 mx-auto">            
                        <h2 class="section-heading" id="logintitle">Inscription</h2>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}                        
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}

                        {{ form_start(signinForm, {
                            'attr': {'class': 'comment-form'}
                        }) }}
                            {{ form_row(signinForm.username, {
                                label: 'Identifiant',
                                'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_row(signinForm.plainPassword, {
                                label: 'Mot de passe',
                                'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_row(signinForm.confirmation, {
                                label: 'Confirmation',
                                'attr': {'class': 'form-control'}
                            }) }}
                            {{ form_row(signinForm.email, {
                                label: 'Email',
                                'attr': {'class': 'form-control'}
                            }) }}
                            
                            <div id="success"></div>
                            <div class="form-group form-inline justify-content-center">
                                <a href="{{ path('app_login') }}" class="btn btn-primary">Annuler</a>
                                <button type="submit" class="btn btn-primary" id="sendLoginButton">Connexion</button>
                            </div>
                        {{ form_end(signinForm) }}

                        {#
                        <form method="post" action="/account/signin" name="sentSignin" id="signinForm" class="needs-validation login-form" novalidate>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                <label for="login">Login</label>
                                <input name="login" type="text" class="form-control" id="login" required data-validation-required-message="Entrez votre nom.">
                                <div class="invalid-feedback">Entrez un pseudo valide.</div>
                                <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                <label for="password">Mot de passe</label>
                                <input name="password" type="password" class="form-control" id="password" required data-validation-required-message="Entrez votre mot de passe.">
                                <div class="invalid-feedback">Entrez un mot de passe valide.</div>
                                <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                <label for="confirm">Confirmation</label>
                                <input name="confirm" type="password" class="form-control" id="confirm" required data-validation-required-message="Confirmez votre mot de passe.">
                                <div class="invalid-feedback">Les mots de passe ne correspondent pas.</div>
                                <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                <label for="email">Email</label>
                                <input name="email" type="email" class="form-control" id="email" required data-validation-required-message="Entrez votre adresse email.">
                                <div class="invalid-feedback">Entrez email valide.</div>
                                <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="form-group form-inline justify-content-center">
                                <a href="/login" class="btn btn-primary">Annuler</a>
                                <button type="submit" class="btn btn-primary" id="sendLoginButton">Créer un compte</button>
                            </div>
                            <input type="hidden" name="token" id="token" value="test"/>
                        </form> 
                        #}
                        <hr>
                        
                        {#
                        <script>
                            // starter JavaScript for disabling form submissions if there are invalid fields, from bootstrap4 doc
                            (function() {
                            'use strict';
                            window.addEventListener('load', function() {
                                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                var forms = document.getElementsByClassName('needs-validation');
                                // Loop over them and prevent submission
                                var validation = Array.prototype.filter.call(forms, function(form) {
                                form.addEventListener('submit', function(event) {
                                    if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                                });
                            }, false);
                            })();
                        </script>  
                        #}                      
                    </div>
                </div>    
            </div>
        </section>
{% endblock %}
