{% extends 'layout.html.twig' %}

{% block content %}

        <!-- Header -->
        {% if trick.featured %}
        <header class="masthead" style="background-image: url('{{ asset(uploaded_trick(trick.featured.content)) }}')">
        {% else %}
        <header class="masthead" style="background-image: url('{{ asset('build/images/bg/gradient1.jpg') }}')"> 
        {% endif %}
            <div class="container">
                <div class="row">       
                    <div class="col overlay">
                        <div class="row">
                            <div class="col edit-pencil">
                                <a href="{{ path('app_edit_trick', {slug: trick.slug}) }}" class="pull-right"><span class="fa fa-pencil fa-3x" aria-hidden="true"></span></a>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col intro-text vertical-center smoothie">
                                <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">
                                    <h2>{{ trick.title }}</h2>
                                </div>                                 
                            </div>                           
                        </div>
                    </div>
                </div>
            </div> 
        </header>

        <!-- Carousel -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col col-carousel">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}

                        {% if images|length + videos|length == 1 %}  
                            {% if videos is empty %}
                                <div class="col-lg-4 mx-auto">
                                    <div class="card blog-item mb100 wow match-height">
                                        <img class="card-img-top trick-thumbnail-medium" src="{{ asset(uploaded_trick(images[0].content)) }}" alt="Photo de la figure">
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-lg-4 mx-auto">
                                    <div class="card blog-item mb100 wow match-height">
                                        <iframe height="227" class="card-img-top" src="{{ videos[0].address }}"></iframe>
                                    </div>
                                </div>
                            {% endif %}
    

                        {% else %} 
                            {% if (images is not empty) or (videos is not empty) %}
                                                
                                    <!--Carousel Wrapper-->
                                    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                                        
                                        <!--Controls-->
                                        <div class="controls-top">
                                            <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                        <!--/.Controls-->

                                        <!--Slides-->
                                        <div class="carousel-inner" role="listbox">

                                            {% for image in images %}
                                                
                                                <div class="carousel-item {% if loop.first %}active{% endif %}">                                         
                                                    <div class="col-md-4 mx-auto">
                                                        <div class="card mb-2">
                                                            <img class="card-img-top carousel-thumbnail-medium" src="{{ asset(uploaded_trick(image.content)) }}" alt="Photo de la figure">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            {% endfor %}
                                            {% for video in videos %}
                                                
                                                <div class="carousel-item {% if (loop.first) and (images is empty) %}active{% endif %}">                                      
                                                    <div class="col-md-4 mx-auto">
                                                        <div class="card mb-2">
                                                            <iframe height="227" class="card-img-top" src="{{ video.address }}"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            {% endfor %}                                       
                                        
                                        </div>
                                        <!--/.Slides-->

                                    </div>
                                    <!--/.Carousel Wrapper-->

                                
                            {% endif %}
                        {% endif %}
                    </div>
                </div>    
            </div>
        </section>
        <section>
            <div class="container section-inner">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        {% if (images is empty) and (videos is empty) %}
                            <div class="mt60 mb50 single-section-title">
                                <h3>Aucun media</h3>
                            </div>
                        {% endif %}                       
                        <p>
                            {{ trick.description }}
                        </p>
                        <div class="item-metas text-muted mb30">
                            <span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> catégorie <span>{{ trick.category }}</span></span>
                            <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> ajouté le <span>{{ trick.created|date("d/m/Y \\à\\ H\\hi") }}</span></span>
                            {% if trick.lastUpdate > trick.created %}
                                <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> modifié le <span>{{ trick.lastUpdate|date("d/m/Y \\à\\ H\\hi") }}</span></span>
                            {% endif %}
                        </div>
                    </div>                 
                </div>
            </div>            
        </section>
        <hr>
        <section>
            <div class="container section-inner">
                <div class="row">
                    <div id="comments-list" class="col-lg-10 gap wow mx-auto">                        
                        
                        <!-- Comment form -->
                        {% if is_granted('ROLE_USER') %}
                            <div id="comments-form" class="row wow">
                                <div class="col-lg-6 mx-auto">
                                    <div id="comment_message"></div>                                    
                                    {{ form_start(commentForm, {
                                        'attr': {'class': 'comment-form'}
                                    }) }}
                                        {{ form_row(commentForm.content, {
                                            label: 'votre commentaire ',
                                            help: null,
                                            'attr': {'class': 'form-control'}
                                        }) }}
                                        <button type="submit" class="btn btn-primary pull-right">Ajouter un commentaire</button>
                                    {{ form_end(commentForm) }}                                    
                                </div>
                            </div>
                            <hr>
                        {% endif %}
                        <!--/.Comment form-->

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>    
                        {% endfor %} 
                        {% if not is_granted('ROLE_USER') %}
                            <p><small>Pour pouvoir ajouter un commentaire, vous devez vous <a href="{{ path('app_login') }}">connecter</a></small></p>
                        {% endif %}
                        {% if comments.getNumResults == 0 %}
                            <div class="mt60 mb50 single-section-title" id="comments">
                                <h3>Aucun Commentaire</h3>
                            </div>
                        {% else %}
                            <div class="mt60 mb50 single-section-title" id="comments">
                                <h3>{{ comments.getNumResults }} Commentaire{% if comments.getNumResults > 1 %}s{% endif %}</h3>
                            </div>

                            {% for comment in comments.results %}
                                <div class="media">
                                    <div class="pull-left">
                                        {% if comment.photo is not empty %}
                                            <img class="avatar comment-avatar user-thumbnail-small" src="{{ asset(uploaded_avatar(comment.photo)) }}" alt="avatar de l'utilisateur">
                                        {% else %}
                                            <img class="avatar comment-avatar user-thumbnail-small" src="{{ asset('build/images/users/placeholder_avatar.jpg') }}" alt="avatar par défaut de l'utilisateur">
                                        {% endif %}                                          
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading meta-item">
                                                <span class="heading-font">{{ comment.username }}</span>&nbsp; <small> le {{ comment.created|date("d/m/Y \\à\\ H\\hi") }}</small>
                                            </div>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Pagination Load More button-->

                        {% if comments.hasToPaginate %}
                        <div class="row paging justify-content-center"><a class="btn btn-primary" id="load-more" href="{{ path('app_trick_paginated', {slug: trick.slug, page: comments.nextPage}) }}#comments"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a></div>
                        {% endif %}

                    </div>              
                </div>
            </div>
        </section>

{% endblock %}
